*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wrapper{
  height: 600px;
  width: 600px;
  border: 1px solid red;
}

.square{
  height: calc(100% /6);
  width: calc(100% /6);
  border: 1px solid blue;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: green;
}

.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}
